# Xcode-specific files
*.xcuserdata
*.xcuserstate
*.swp
.DS_Store

# Build and derived data
DerivedData/
Build/
*.ipa
*.app

# Swift Package Manager
.swiftpm/
.build/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/

# Logs
*.log

ophelia/ophelia.xcodeproj/project.xcworkspace/xcuserdata/robinkroonen.xcuserdatad/UserInterfaceState.xcuserstate
